<div class="ui segments client-search"  [formGroup]="form">
  <div class="ui segment">
    <h1>კლიენტის ძებნა</h1>
  </div>
  <div class="ui segment">
    <form class="ui bordered form segment">
      <div class="ui three column grid">
        <div class="column">
          <div class="field">
            <label for="firstName">სახელი</label>
            <input type="text" id="firstName" [(ngModel)]="firstName" name="firstName">
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label for="lastName" >გვარი</label>
            <input type="text" id="lastName" [(ngModel)]="lastName" name="lastName">
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label for="clientKey">კლიენტის უნიკალური</label>
            <input type="number" id="clientKey" [(ngModel)]="clientKey" name="clientKey">
          </div>
        </div>
      </div>
      <div class="grid " style="text-align: right">
        <button (click)="onFetchClients()"  type="submit" class="ui  blue icon button ">ძებნა</button>
      </div>
    </form>
    <div  *ngIf="clients.length" >
    <div class="table-header">
      <span>კლიენტები</span>
      <button class="ui icon button"  routerLink="../bpm001">
        <i class="plus icon"></i>
      </button>
    </div>
    <table>
      <thead>
        <th>სახელი</th>
        <th>გვარი</th>
        <th>კლიენტის უნიკალური</th>
      </thead>
      <tbody>
        <tr class="client" *ngFor="let client of  clients " (click)="openClient(client)" routerLink="../../krn">
          <td>{{client.firstName}}</td>
          <td>{{client.lastName}}</td>
          <td>{{client.clientKey}}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
